allow tee block_device:blk_file ioctl;
allow tee gx_fpd_data_file:dir { add_name write read open search };
allow tee gx_fpd_data_file:file { create open read write };
allow tee tee_device:chr_file { write ioctl };
allow tee gx_fpd_data_file:dir remove_name;
allow tee gx_fpd_data_file:file unlink;
